body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tags {
  width: 40rem;
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin: 6.25rem 50%;
  right: -25%;
}

.btn {
  width: 10rem;
  background-color: #ffffff;
  transition: all 0.2s;
  border: 1px solid #0000003e;
  border-radius: 0.3125rem;
}

.btn-java:hover,
.btn-java:active {
  background-color: #3f8bef;
  color: white;
  border-color: #3f8bef;
}
.btn-ruby:hover,
.btn-ruby:active {
  background: #f24b4b;
  color: white;
  border-color: #f24b4b;
}
.btn-python:hover,
.btn-python:active {
  background: #1ec556;
  color: white;
  border-color: #1ec556;
}
